<div class="modal fade" id="modalReportComment" tabindex="-1" role="dialog" aria-labelledby="modalReportCommentLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalReportCommentLabel">Signaler</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" action="{{ path }}">
                    <div class="form-group">
                        <label for="_motif">Motif du signalement</label>
                        <select class="form-control" name="_motif" id="_motif">
                            <option>Propos haineux, Discrimination, Négationnisme </option>
                            <option>Message Inoportun</option>
                            <option>Publicité</option>
                            <option>Apologie de comportements illégaux</option>
                            <option>Insulte,diffamation</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Message:</label>
                        <textarea class="form-control" name="_message" id="_message"></textarea>
                    </div>
                    <input type="hidden" name="_token" value="{{ csrf_token('reportComment' ~ comment.id) }}">
                    <input type="submit" class="btn btn-primary" value="Envoyer le signalement">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>


            </div>
        </div>
    </div>
</div>