{% extends 'base.html.twig' %}

{% block title %} Vos Favoris {% endblock %}

{% block body %}

<div class="mx-auto col-6-md">

    {% if items | length > 0 %}

    {% for item in items %}

    {{item.product.title}}

    {% endfor %}

    {% else %}
    <p>panier vide</p>

    {% endif %}


</div>
{% endblock %}