{% extends 'base.html.twig' %}

{% block title %}{{ libelle }} {% endblock %}

{% block body %}

<div class="container mx-auto bg-light">

    <div class="text-center ">
        <h2 class="shadow lg  p-4 my-4"> {{ libelle }}</h2>
    </div>



    <div class="text-center ">

    </div>
    <div class="row my-3" style="min-height: 80vh;">
        <div class="card-deck my-5 col-lg-12">

            {% if articles|length > 0 %}

            {% for article in articles %}

            {% include "shared/_card.html.twig" with {'article' : article} %}

            {% endfor %}

            {% else %}

            <div class="mx-auto">Aucun résultat trouvé</div>


            {% endif %}

        </div>

    </div>





</div>



<div class="pagination">
    <div class="mx-auto">


        {{ knp_pagination_render(articles) }}
    </div>
</div>



{% endblock %}