<div class="container bootstrap snippet">
    <div class="col-sm-5">
        <div class="widget single-news">
            <div class="image">
                <img src="https://via.placeholder.com/300x200/" class="img-responsive">
                <span class="gradient"></span>
            </div>
            <div class="details">
                <div class="category"><a href="">News</a></div>
                <h3><a href="">More rain at salt flats delays racer's pursuit of land speed record</a></h3>
                <time>Today, 18 August</time>
            </div>
        </div>
    </div>

    <div class="col-sm-5">
        <div class="widget single-news">
            <div class="image">
                <img src="https://via.placeholder.com/300x200/" class="img-responsive">
                <span class="gradient"></span>
            </div>
            <div class="details">
                <div class="category"><a href="">News</a></div>
                <h3><a href="">More rain at salt flats delays racer's pursuit of land speed record</a></h3>
                <time>Today, 18 August</time>
            </div>
        </div>
    </div>

    <div class="col-sm-5">
        <div class="widget single-news">
            <div class="image">
                <img src="https://via.placeholder.com/300x200/" class="img-responsive">
                <span class="gradient"></span>
            </div>
            <div class="details">
                <div class="category"><a href="">News</a></div>
                <h3><a href="">More rain at salt flats delays racer's pursuit of land speed record</a></h3>
                <time>Today, 18 August</time>
            </div>
        </div>
    </div>
</div>