{% extends 'base.html.twig' %}

{% block title %}Re-initialisation du mot de passe {% endblock %}

{% block body %}
<div class="col-md-4 col-sm-6 mx-auto p-3 m-2 border border-black">
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}


</div>


{% endblock %}