{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié ?{% endblock %}

{% block body %}

<div class="col-md-4  mx-auto p-3 m-2 border border-black  bg-light mt-5 p-2 ">

    <form action="{{path('forgottenPassword')}}" method="POST">
        <div class="form-group">
            <label for="exampleInputEmail1">Email</label>
            <input type="email" class="form-control" placeholder="Enter email" name="_email">
        </div>
        <button type="submit" class="btn btn-primary">Reset</button>
    </form>
</div>
{% endblock body %}