{% extends 'base.html.twig' %}

{% block title %}Modifier son profil{% endblock %}

{% block body %}
<section style="height: 80vh;">
    <div class="col-md-4 col-sm-6 mx-auto p-3 mt-5 border border-dark bg-light">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Modifier">
        {{ form_end(form) }}


    </div>

</section>
{% endblock %}