<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mot de passe oublié ?</title>
</head>

<body>
    <h1>Veuillez Confirmez votre compte</h1>
    <p>Vous venez de faire une demande de re-initialisation de mot, veuillez cliquer sur le lien ci-dessous pour acceder au formulaire de changement de mot passe !</p>
    <p><a href="{{absolute_url(path('changePassword', {'token': token , 'username': username} ))}}">Re-initialiser son mot de passe</a>
    </p>
</body>

</html>